.container-fluid {
  max-width: 1250px;
}
.title {
  text-align: center;
  margin: 1rem auto;
}
.map {
  width: 100%;
  border: 1px solid black;
  overflow: hidden;
  padding: 0;
}
.list-title {
  text-align: center;
}
.stats {
  text-align: center;
}
.state-list {
  height: 613px;
  overflow-y: scroll;
  border: 1px solid black;
}
.back-button {
  bottom: 1%;
  right: 1%;
}

@media only screen
  and (min-device-width:768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
      .state-list {
        height: 435px;
      }
  }
