.container-fluid {
  max-width: 1250px;
}
.title {
  text-align: center;
  margin: 1rem auto;
}
.map {
  width: 100%;
  border: 1px solid black;
  overflow: hidden;
  padding: 0;
}
.list-title {
  text-align: center;
}
.stats {
  text-align: center;
}
.state-list {
  height: 613px;
  overflow-y: scroll;
  border: 1px solid black;
}
.back-button {
  bottom: 1%;
  right: 1%;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3CA640;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* iPhone 6/7/8 Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .title {
      font-size: 1.35rem;
    }
    .map {
      height: 250px;
      margin-left: 10px;
    }
    .list-title {
      font-size: .75rem;
    }
    button {
      font-size: .60rem;
    }
    .back-button {
      font-size: .75rem;
    }
    aside.col-2 {
      padding-right: 0px;
      margin-right: 10px;
    }
    .state-list {
      height: 230px;
    }
    .list-group-item {
      padding: 12px 0px 12px 10px;
    }
    .badge-success {
      margin-right: 5px;
    }
    .stats {
      font-size: .5rem;
    }
  }

/* iPhone 6/7/8 Portrait */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
  .title {
    font-size: 1.25rem;
  }
  aside {
    display: none;
  }
  .stats {
    font-size: .5rem;
  }
  .back-button {
    font-size: .25rem;
  }
}

/* iPad Landscape */
@media only screen
  and (min-device-width:768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    .map {
      height: 530px;
      margin-left: 25px;
    }
    .list-title {
      font-size: 1.2rem;
    }
    button {
      font-size: .9rem;
    }
    aside.col-2 {
      padding-right: 0px;
      margin-right: 25px;
    }
    .state-list {
      height: 500px;
    }
    .list-group-item {
      padding: 12px 0px 12px 10px;
    }
    .badge-success {
      margin-right: 5px;
    }
  }

  /* iPad Portrait */
  @media only screen
  and ( min-device-width:768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    .map {
      height: 600px;
      margin: 0 25px;
    }
    aside {
      display: none;
    }
  }
